* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
}

.navbar {
  padding: 25px 60px;
}

.navbar h2 {
  color: #38bdf8;
}

.hero {
  height: calc(100vh - 80px);

  display: flex;
  flex-direction: column;

  justify-content: center;

  align-items: center;

  text-align: center;

  gap: 25px;
}

.hero h1 {
  font-size: 60px;
  width: 900px;
}

.hero p {
  width: 700px;
  color: #cbd5e1;
  line-height: 1.8;
  font-size: 20px;
}

button {
  background: #2563eb;
  color: white;

  border: none;

  padding: 15px 35px;

  border-radius: 10px;

  font-size: 18px;

  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}
.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.file-info {
  background: #1e293b;
  padding: 15px 25px;
  border-radius: 12px;
  color: white;
  width: 350px;
  text-align: center;
}

.file-info h3 {
  margin-bottom: 10px;
  color: #38bdf8;
}

.file-info p {
  color: #cbd5e1;
}
.ask-container{
    width:70%;
    margin:60px auto;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.ask-container h2{
    color:white;
    text-align:center;
}

.ask-container textarea{
    padding:18px;
    font-size:17px;
    border:none;
    border-radius:10px;
    resize:none;
    min-height:120px;
}

.ask-container button{
    padding:15px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:18px;
    cursor:pointer;
}

.ask-container button:hover{
    background:#1d4ed8;
}

.answer-box{
    background:#1e293b;
    color:white;
    padding:20px;
    border-radius:12px;
}

.answer-box h3{
    color:#38bdf8;
    margin-bottom:10px;
}